# inspectIT configuration for the ExcludedClasses

exclude-class test.info.novatec.inspectit.excludedclass.ExcludedClassLevel2

sensor isequence test.info.novatec.inspectit.excludedclass.NotExcludedClassLevel1 callExcludedClass
sensor isequence test.info.novatec.inspectit.excludedclass.NotExcludedClassLevel3 simpleOutput