# inspectIT configuration for the HTTP Features

sensor http test.info.novatec.inspectit.http.HttpFeatures httpGetDifferentURLs charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpPostDifferentURLs	charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpHeadersGet charting=true	
sensor http test.info.novatec.inspectit.http.HttpFeatures httpHeadersPost charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpGetParameters charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpsGetParameters charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpPostParameters charting=true	
sensor http test.info.novatec.inspectit.http.HttpFeatures httpsPostParameters charting=true	
sensor http test.info.novatec.inspectit.http.HttpFeatures httpSessionParametersGet charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpSessionParametersPost charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures sendGetHttp charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures sendPostHttp charting=true
sensor http test.info.novatec.inspectit.http.HttpFeatures httpUsecaseHeaderAggregation charting=true