# inspectIT configuration for ContextCapturing

sensor isequence test.info.novatec.inspectit.contextcapturing.ContextCapturingTest *
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturing1 r=return;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturing2 p=0;FirstParameter;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturing2 p=1;SecondParameter;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturing2 f=Value;value;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturingTest f=Value;value;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturingTest f=Fields;sub.sub1;
sensor timer test.info.novatec.inspectit.contextcapturing.ContextCapturingTest contextCapturingString p=0;string;