# inspectIT configuration for the Invocation Sequence

# invocation sequence
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence testSimpleInvocationSequence
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence testSteppingFeature
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence testSteppingFeatureSQL
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence noInvocationSequenceSensortests
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence invocationSequenceSensortests
sensor isequence test.info.novatec.inspectit.invocationsequence.InvocationSequence testMinDurationInvocationSequence


# timer
sensor timer test.info.novatec.inspectit.invocationsequence.InvocationSequence * interface=true
#sensor timer test.info.novatec.inspectit.invocationsequence.InvocationSequence testMinDurationInvocationSequence
#sensor timer test.info.novatec.inspectit.invocationsequence.InvocationSequence testMinDurationInvocationSequence charting=true


# exception
exception-sensor test.info.novatec.inspectit.invocationsequence.FakeException


# http
sensor http test.info.novatec.inspectit.http sendGetHttp
sensor http test.info.novatec.inspectit.http sendPostHttp


# stepping
#?