# inspectIT configuration for the Exceptionsensor

# exception
exception-sensor test.info.novatec.inspectit.exceptions.CauseException
exception-sensor test.info.novatec.inspectit.exceptions.MainException
exception-sensor test.info.novatec.inspectit.exceptions.Level1SubException
exception-sensor test.info.novatec.inspectit.exceptions.Level2SubException